/* Добавьте стили по вашему усмотрению */
body {
    font-family:'Times New Roman', Times, serif
  }
  
  button {
    margin: 5px;
    padding: 10px;
    cursor:pointer
  }
  
  #output {
    margin-top: 20px;
  }
  
