<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sorting Demo</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <h2>Sorting Demo</h2>

  <label for="sortAlgorithm">Select Sorting Algorithm:</label>
  <select id="sortAlgorithm">
    <option value="bubble">Bubble Sort</option>
    <option value="selection">Selection Sort</option>
    <option value="insertion">Insertion Sort</option>
    <option value="shell">Shell Sort</option>
    <option value="SimpleCounting">Simple Counting Sort</option>
    <!-- Добавьте другие алгоритмы по мере необходимости -->
  </select>

  <br>

  <label for="userInput">Enter numbers (comma-separated):</label>
  <input type="text" id="userInput" placeholder="e.g., 64, 25, 12, 22, 11">

  <br>

  <button onclick="sortUserInput()">Sort</button>

  <div id="output">
    <!-- Результат сортировки будет отображаться здесь -->
  </div>

  <script>
    function sortUserInput() {
      var sortAlgorithm = document.getElementById('sortAlgorithm').value;
      var userInput = document.getElementById('userInput').value;
      var arrayToSort = userInput.split(',').map(Number);

      fetch('/api/sort', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ algorithm: sortAlgorithm, numbers: arrayToSort }),
      })
        .then(response => response.json())
        .then(data => displayResult(data));
    }

    function displayResult(sortedArray) {
      var outputDiv = document.getElementById('output');
      outputDiv.textContent = 'Sorted Array: ' + sortedArray.join(', ');
    }
  </script>

</body>
</html>
